body{
    background-image: radial-gradient(white, rgb(214, 25, 25), yellow);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
img{
    height: 250px;
    width: 270px;
    border-radius: 20px 20px 0 0;
}
.container{
    display: flex;
    flex-wrap: wrap;
}
.content{
    width: 28%;
    margin: 2%;
    border: solid 0.5px black;
    border-radius: 20px;
    padding: 5px;
    background-image: linear-gradient(to top right, coral, yellow);
}
.content img{
    width: 100%;
}
.content:hover{
    box-shadow: 7px 5px 3px rgba(0, 0, 0, 0.3);
}
.body{
    text-align: center;
}
h2 a{
    text-decoration: none;
    background-color: yellowgreen;
    color: black;
    padding: 3px;
    border-radius: 5px;
}
.para{
    text-decoration: line-through;
    color: rgb(214, 214, 204);
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: white;
    font-size: large;
}